*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(255, 255, 255);
}

.bk{
    background-image: url("ph/image1.webp");
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
}  

.overlay {
    position: absolute;
    bottom: 100px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    width: 93.2%;
    transition: 1.5s ease;
    opacity:0;
    color: rgb(199, 131, 28);
    font-size: 60px;
    padding: 50px;
    text-align: left;
}
.bk:hover .overlay {
    opacity: 1;
  }

nav{                                                                    
    position: fixed;
    background-color: rgb(25, 91, 91);
    height: 100px;
    width: 100%;
}

a:is(:link, :active, :visited).active{
    color: rgb(86, 249, 37);
    
}
.logo{
    height: 100px;
}

nav ul{
    float: right;
    margin-right: 10px;
    list-style: none;
}

nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
    padding-right: 50px;
}

.brandname{
    padding-right: 350px;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
}

nav ul li a{
    text-decoration: none;
    color: rgb(228, 205, 205);
    font-size: 22px;
}

nav ul li a:hover{
    color: rgb(32, 232, 29);
    transition: .3s;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.w{
    width: 1000px;
    background-color: rgb(25, 91, 91);
    height: 200px;
    
}
.w1{
    color:rgb(249, 253, 255);
    font-size: 50px;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
}
.w2{
    font-size: 20px;
    color: #bbb;
}

.phase1{
    border: 1px;
    background-color: rgb(255, 255, 255);
    height: 2200px;
    width: 1020px;
}

.phase2{
    border: 1px;
    width: 420px;
    background-color:rgb(255, 255, 255);
    height: 2200px;
}

.topic1{
    font-weight: bold;
    font-size: 400%;
    color: brown;
}

.p1{
    font-size: 20px;
}
.basic{
    display: flex;
    margin-top: 2%;
}

.bb1{
    
   padding-left:120px;   
}
.cc1{
    padding-left: 400px;
    
}

.m1{
    display: flex;
    margin-top: 2%;
}

.pi1{
    margin-top: 4%;
}

.i2{
    margin-top: 2%;
}

.imge1{
    width: 280px;
    height: 200px;
    
}

.m2{
    display: flex;
    
}
.it2{
    margin-top: 2%;
    color: rgb(25, 91, 91);
   
}
.i1p{
    font-size: 19px;
}
.i2p{
    margin-top: 2%;
    font-size: 19px;
}


.pi2{
    margin-top: 2%;
    font-size: 19px;

}
.phr1{
    width: 420px;
    height: 260px;
    margin-top: 4%;
    margin-bottom: 8%;
}

.t1{
    color: rgb(25, 91, 91);
}

.footer{
    width: 1400px;
    height: 440px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 60px;
    margin-left: 35px;
    background-color:rgb(25, 91, 91) ;
  }
.fp1{
   
    height: 500px; 
    font-size: 20px;
    margin-left: 2%;
}
.fl{
    list-style: none;
    margin-top: 5%;
    color: antiquewhite;
}
.fli{
    margin-left: 13%;
    margin-top: 5%;
    color: antiquewhite;

}
.fm{
    font-weight: bold;
    color: antiquewhite;
    margin-top: 20px;
}
.ftl{
    width: 200px;
    height: 160px;
    margin-top: 5%;
    margin-left: 75px;

}


    

   
  